body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  
  font-family: 'Poppins', sans-serif;
}
.container{
  width: 100px 100px  ;
}
